@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-orange: #f37037;
  --text-purple: #9775fa;
  --text-yellow: #f7df1e;

  --faded-line-orange: rgba(243, 112, 55, 0.2);
  --faded-line-purple: rgba(151, 117, 250, 0.2);
  --faded-line-yellow: rgba(247, 223, 30, 0.2);
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--faded-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--faded-line);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--faded-text);
}

html {
  --text: #171717;
  --bg-color: #ffffff;
  --faded-text: rgba(33, 33, 33, 0.4);
  --faded-line: rgba(33, 33, 33, 0.2);
  --faded-bg: rgba(33, 33, 33, 0.06);
  --subfaded-text: rgba(33, 33, 33, 0.8);

  &.dark {
    --text: #f3f4f6;
    --bg-color: #18181a;
    --faded-text: rgba(243, 244, 246, 0.4);
    --faded-line: rgba(243, 244, 246, 0.2);
    --faded-bg: rgba(243, 244, 246, 0.06);
    --subfaded-text: rgba(243, 244, 246, 0.8);
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: var(--faded-text);
  background-color: var(--bg-color);
}

a {
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  background-color: var(--faded-text);
}

.link {
  display: inline;
  color: var(--text);
  background-image: linear-gradient(transparent calc(85% - 5px), var(--faded-line) 5px);
  background-size: 0;
  background-repeat: no-repeat;
  transition:
    background-size 0.5s cubic-bezier(0.65, -0.05, 0.25, 1),
    color 0.03s cubic-bezier(0.65, -0.05, 0.25, 1);

  &:hover {
    background-size: 100%;
  }

  &__orange {
    color: var(--text-orange);
    background-image: linear-gradient(transparent calc(85% - 5px), var(--faded-line-orange) 5px);
  }

  &__purple {
    color: var(--text-purple);
    background-image: linear-gradient(transparent calc(85% - 5px), var(--faded-line-purple) 5px);
  }

  &__yellow {
    color: var(--text-yellow);
    background-image: linear-gradient(transparent calc(85% - 5px), var(--faded-line-yellow) 5px);
  }
}
